@model IEnumerable<Modelo.Cadastros.Instituicao>

@{
    Layout = "_LayoutIES";
}
﻿
@*   coisa do delete   *@
@if (@TempData["Message"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["Message"]
    </div>
}

@await Html.PartialAsync("_StylesPartial")

<div class="row">
    <div class="col-md-4 d-flex align-items-center justify-content-center">
        <center>
            <img src="~/images/auto-aprendizagem.png" class="img-fluid" alt="instituições" class="img-lado">
        </center>
    </div>
    <div class="col-md-8">
        <div class="card border-0">
            <div class="card-header text-center h3 titulo border-0">Instituições Registradas</div>
            <div class="card-body">
                <div class="table-responsive border-0">
                    <table id="tabela_instituicoes" class="table table-striped nolines-table">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.InstituicaoID)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Nome)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Endereco)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.InstituicaoID)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Nome)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Endereco)
                                    </td>
                                    <td>
                                        <div class="dropdown">
                                            <button class="btn btn-b dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                Ações
                                            </button>
                                            <div class="dropdown-menu btn-b text-white" aria-labelledby="dropdownMenuButton">
                                                <a asp-action="Edit" asp-route-id="@item.InstituicaoID" class="dropdown-item">Edit</a>
                                                <a asp-action="Details" asp-route-id="@item.InstituicaoID" class="dropdown-item">Details</a>
                                                <a asp-action="Delete" asp-route-id="@item.InstituicaoID" class="dropdown-item">Delete</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card-footer text-center border-0">
                <a asp-action="Create" class="btn btn-b">Criar uma nova instituição</a>
            </div>
        </div>
    </div>
</div>

@await Html.PartialAsync("_ScriptPartial")

<script>
    $(document).ready(function () {
        // quando clicar 
        $(".dropdown-toggle").click(function () {
            // deixar visibel
            $(this).next(".dropdown-menu").toggleClass("show");
        });

        // pra fechar quando clocae fora
        $(document).click(function (e) {
            if (!$(e.target).closest(".dropdown").length) {
                $(".dropdown-menu").removeClass("show");
            }
        });
    });
</script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#tabela_instituicoes').DataTable({
                "order": [[1, "asc"]]
            });
        }) ;
    </script>