@model IEnumerable<Modelo.Cadastros.Departamento>

@*@model lagrimas.Models.Todas.TodasViewModel*@
@{
    Layout = "_LayoutIES";
}

@await Html.PartialAsync("_StylesPartial")
@await Html.PartialAsync("_ScriptPartial")
@using Microsoft.EntityFrameworkCore.Metadata.Internal;
@using Modelo.Cadastros;

@if (@TempData["Message"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["Message"]
    </div>
}

<div class="row">
    <div class="col-md-4 d-flex align-items-center justify-content-center">
        <center>
            <img src="~/images/livraria-digital.png" class="img-fluid" alt="departamentos">
           @* @{ await Html.RenderPartialAsync("~/Views/Shared/_DashboardView.cshtml", Model.DashboardModel);}*@
        </center>
    </div>
    <div class="col-md-8">
        <div class="col-sm-12 card-block">
            <div class="card border-0">
                <div class="card-header text-center h3 titulo border-0">Departamentos Registrados</div>
                <div class="card-body">
                    <table id="tabela_departamentos" class="table table-striped nolines-table">
                        <thead>
                           @* @foreach (var item in Model.DepartamentoIndex)
                            {*@
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Nome)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Instituicao.Nome)
                                </th>
                                <th>
                                </th>
                            </tr> }
                        </thead>
                       
                        <tbody>
                            @*@foreach (var item in Model.DepartamentoIndex)*@
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Nome)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Instituicao.Nome)
                                    </td>
                                    <td>
                                        <div class="dropdown">
                                            <button class="btn btn-b dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                Detalhes
                                            </button>
                                            <div class="dropdown-menu btn-b text-white" aria-labelledby="dropdownMenuButton">
                                                <a asp-action="Edit" asp-route-id="@item.DepartamentoID" class="dropdown-item">Editar</a>
                                                <a asp-action="Details" asp-route-id="@item.DepartamentoID" class="dropdown-item">Detalhes</a>
                                                <a asp-action="Delete" asp-route-id="@item.DepartamentoID" class="dropdown-item">Apagar</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="card-footer text-center border-0">
                    <a asp-action="Create" class="btn btn-b">Criar um novo departamento</a>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    $(document).ready(function () {
        $('#tabela_departamentos').DataTable({
            "order": [[1, "asc"]]
        });
    });
</script>

<script>
    $(document).ready(function () {
        // quando clicar
        $(".dropdown-toggle").click(function () {
            // deixar visibel
            $(this).next(".dropdown-menu").toggleClass("show");
        });

        // pra fechar quando clocae fora
        $(document).click(function (e) {
            if (!$(e.target).closest(".dropdown").length) {
                $(".dropdown-menu").removeClass("show");
            }
        });
    });
</script>
