@model Modelo.Discente.Academico

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_LayoutIES.cshtml";
}
<div class="card-header text-white text-center h3" style="background-color:#5E6EAC; padding-left:4rem; padding-right:4rem">
    Apagar um acadêmico
</div>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RegistroAcademico)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RegistroAcademico)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nascimento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nascimento)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="AcademicoID" />
        <a asp-action="Index" class="btn btn-transparent">Voltar para a lista</a>
        <input type="submit" value="Delete" class="btn text-white" style="background-color:#5E6EAC" />
    </form>
</div>
