@model IEnumerable<Modelo.Discente.Academico>
@{
    Layout = "_LayoutIES";
}

@await Html.PartialAsync("_StylesPartial")

@if (@TempData["Message"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["Message"]
    </div>
}

<div class="row">
    <div class="col-md-4 d-flex align-items-center justify-content-center">
        <center>
            <img src="~/images/ensino-on-line.png" class="img-fluid" alt="instituições" class="img-lado">
        </center>
    </div>
    <div class="col-md-8">
        <div class="card border-0">
            <div class="card-header text-center h3 titulo border-0">
                Acadêmicos Registrados
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table id="tabela_academicos" class="table table-striped nolines-table">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.AcademicoID)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.RegistroAcademico)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Nome)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Nascimento)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.AcademicoID)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.RegistroAcademico)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Nome)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Nascimento)
                                    </td>
                                    <td>
                                        <a asp-action="Edit" asp-route-id="@item.AcademicoID">Edit</a> |
                                        <a asp-action="Details" asp-route-id="@item.AcademicoID">Details</a> |
                                        <a asp-action="Delete" asp-route-id="@item.AcademicoID">Delete</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card-footer text-center border-0">
                <a asp-action="Create" id="teste" class="btn btn-b">Criar um novo acadêmico</a>
            </div>
        </div>
    </div>
</div>


    @await Html.PartialAsync("_ScriptPartial")
    
    <script type="text/javascript">
        $(document).ready(function () {
            $('#tabela_academicos').DataTable({
                "order": [[1, "asc"]]
            });
        });
    </script>

