@model IEnumerable<Modelo.Discente.Academico>
@{
    Layout = "_LayoutIES";
}

@await Html.PartialAsync("_StylesPartial")
@await Html.PartialAsync("_ScriptPartial")

@if (@TempData["Message"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["Message"]
    </div>
}

<html>
<body>
    @await Html.PartialAsync("_DashboardScript")
    <div class="row">
        <div class="col-md-4 d-flex align-items-center justify-content-center">
            <center>
                <div id="Contagem"></div>
            </center>
        </div>
        <div class="col-sm-7">
            <div class="card border-0">
                <div class="card-header text-center h3 titulo border-0">
                    Acadêmicos Registrados
                </div>
                <div class="card-body">
                    <table id="tabela_academicos" class="table table-striped nolines-table">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.AcademicoID)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.RegistroAcademico)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Nome)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Nascimento)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.AcademicoID)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.RegistroAcademico)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Nome)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Nascimento)
                                    </td>
                                    <td>
                                        <div class="dropdown">
                                            <button class="btn btn-b dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                Editar
                                            </button>
                                            <div class="dropdown-menu btn-b text-white" aria-labelledby="dropdownMenuButton">
                                                <a asp-action="Edit" asp-route-id="@item.AcademicoID" class="dropdown-item">Editar</a>
                                                <a asp-action="Details" asp-route-id="@item.AcademicoID" class="dropdown-item">Detalhes</a>
                                                <a asp-action="Delete" asp-route-id="@item.AcademicoID" class="dropdown-item">Apagar</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="card-footer text-center border-0">
                    <a asp-action="Create" id="teste" class="btn btn-b">Registrar um novo acadêmico</a>
                </div>
            </div>
        </div><div class="col-sm-1"></div>
    </div>
</body>
</html>

<script type="text/javascript">
    $(document).ready(function () {
        $('#tabela_academicos').DataTable({
            "order": [[1, "asc"]]
        });
    });
</script>

<script>
    $(document).ready(function () {
        // Handle the click event on the dropdown button
        $(".dropdown-toggle").click(function () {
            // Toggle the dropdown menu visibility
            $(this).next(".dropdown-menu").toggleClass("show");
        });

        // Handle clicks outside the dropdown to close it
        $(document).click(function (e) {
            if (!$(e.target).closest(".dropdown").length) {
                $(".dropdown-menu").removeClass("show");
            }
        });
    });
</script>